*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

section div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

section h1{
    font-size: 3rem;
}
section h2{
    font-size: 2rem;
}

section div button{
    /* padding: 1rem 4rem; */
    width: 90%;
    padding: .6rem 0;
    border-radius: 3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: .5s;
    &:hover{
        background-color: darkgray;
    }
}

@media (max-width:320px){
   section h1{
    font-size: 1.5rem;
}
section h2{
    font-size: 1.7rem;
    margin-top: 0.5rem;
} 
}

@media (min-width:768px){
   section h1{
    font-size: 2.3rem;
}
section h2{
    font-size: 1.7rem;
    margin-top: 0.5rem;
} 
}

.m, .ol{
    margin: 5% 10%;   
}

.m span{
    font-size: 1.3rem;
}

.m button{
    padding: auto;
    outline: none;
    border: none;
    background-color: burlywood;
    padding: 0.5rem 1rem;
    cursor:pointer;
}

.ol{
    display: flex;
    flex-direction: column;
}

.ol .orderList li{
    background-color: rgb(14, 15, 15);
    padding: 0.3rem;
    color: white;
    text-shadow: 3px 4px solid black;
}

.ol .orderList li span{
    margin-left: 1rem;
    
}
.ol .orderList li .delBtn{
    background-color: red;
    padding: 0.2rem 0.25rem;
    
}

